@use "sass:math";
@import './variables.scss';

.form-group {
  margin-top: $base-space;

  &:first-child {
    margin-top: 0;
  }

  &__error {
    color: #ff7070;
    font-size: 1.2rem;
    padding: 3px;
  }

  > label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: math.div($base-space, 2);
  }
}

.form-label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: math.div($base-space, 2);
}

.input {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 6px 9px;

  .form-group.form-group--error & {
    border-color: #ff7070;
  }

  &--error {
    border-color: #ff7070;
  }
}

.input-attached-error {
  background-color: #993300;
  color: #ffffff;
  position: absolute;
  width: 100%;
  padding: 4px 8px;
  border-radius: 0 0 16px 0;
  z-index: 1;

  &__close {
    position: absolute;
    right: 8px;
    top: 0;
    cursor: pointer;
  }
}

.input-group {
  .input.input--has-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }

  &__right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}



.form {
  &__submit-button-group {
    position: relative;
  }

  &__submit-button-error {
    background-color: $color-danger;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    color: #ffffff;
    font-size: 14px;
    margin-top: 3px;
    min-width: 240px;
    padding: 2px 3px;
    position: absolute;
    text-align: center;

    &--align-right {
      border-top-right-radius: 0;
      right: 0;
    }
  }
}
