@use 'variables.scss';

.header {
  background-color: variables.$primary;
  border-bottom: 2px solid #000a10;
  color: variables.$text-on-primary;
  padding: variables.$base-space * 1.5 0;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: variables.$text-on-primary;
  }

  &__title {
    font-size: 1.2em;
    margin-right: 24px;
    text-shadow: -3px 3px 2px variables.$dark;

    &:hover {
      text-decoration: none;
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0
  }

  &__navigation-item {
    margin-right: 16px;

    &--no-margin {
      margin-right: 0;
    }
  }
}
