@use "sass:math";
@import './variables.scss';

.markdown-region {
  word-wrap: break-word;

  a {
    color: $primary !important;
  }

  img {
    display: block;
    max-width: 100%;
  }

  pre {
    overflow: auto;
    background-color: #f4f4f4;
    padding: $base-space * 1.5;
    border-radius: $border-radius;

    code {
      background-color: #f4f4f400;
      border-radius: 0;
      padding: 0;
    }
  }

  ul {
    padding-left: $base-space * 2;
    margin-bottom: $base-space * 2;

    li:last-child {
      margin-bottom: 0;
    }
  }

  code {
    background-color: #f4f4f4;
    border-radius: $border-radius;
    padding: math.div($base-space, 4) math.div($base-space, 2);
  }

  hr {
    border-color: #cccccc;
    border-style: solid;
    border-width: 0 0 1px 0;
    margin: ($base-space * 2) 0;
  }

  li {
    margin-bottom: math.div($base-space, 2);
  }

  p {
    margin: 0 0 $base-space;

    &:last-child {
      margin-bottom: 0;
    }
  }

  table {
    border-collapse: collapse;

    td, th {
      border: 1px solid #000000;
      padding: $base-space;
    }
  }
}
