@import './variables.scss';

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  &__container {
    border: 2px solid black;
    border-radius: 4px;
    padding: $base-space * 2;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    min-width: 256px;
    position: absolute;
    top: 50%;
  }

  &__header {
    display: flex;
  }
  
  &__close-button {

  }

  &__title {
    flex: 1;
    margin-bottom: $base-space * 2;
  }
}
