@use 'variables.scss';

.panel {
  background-color: #ffffff;
  border: 1px solid variables.$border-color;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
  padding: variables.$base-space;

  &:focus {
    border-color: #006994;
  }

  &--centered {
    text-align: center;
  }

  &--danger {
    background-image: linear-gradient(to right, #ff7070, #ffffff);
  }

  &--warning {
    color: #000000;
    background-color: #ffcc00;
  }

  a {
    color: #000000;
    text-decoration: none;
  }

  ul & {
    margin-bottom: variables.$base-space;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.panel-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
