@import './variables.scss';

.panel {
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 0.5rem;

  &:focus {
    border-color: #006994;
  }

  &--centered {
    text-align: center;
  }

  &--danger {
    background-image: linear-gradient(to right, #ff7070, #ffffff);
  }

  &--warning {
    color: #000000;
    background-color: #ffcc00;
  }

  a {
    color: #000000;
    text-decoration: none;
  }

  ul & {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.panel-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
