$base-space: 0.2rem;
$border-color: #dddddd;
$border-radius: 4px;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-size: 1rem;
  margin: 0 0 0.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  color: #000000;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;

  &--toggle {
    &[aria-pressed="true"] {
      background-color: #006994;
      color: #ffffff;

      &:hover {
        background-color: #0085bb !important;
      }
    }
  }

  &:disabled {
    background-color: #b6aea7;
    color: #000000;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover:not(:disabled) {
    background-color: #f5f5f5;
    font-weight: 400;
  }

  &--bare {
    background-color: transparent;
    border: 0;
  }

  &--icon {
    align-items: center;
    display: inline-flex;
    font-size: 12px;
    height: 24px;
    justify-content: center;
    padding: 0;
    width: 24px;
  }

  &--primary {
    background-color: #006994; //sea-blue
    color: #ffffff;

    &:hover:not(:disabled) {
      //two shades darker https://www.colorhexa.com/006994
      background-color: #004d6d;
    }
  }

  &--rounded {
    border-radius: 50%;
  }
}

.button-group {
  display: inline-block;

  .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  .button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
}

.form-group {
  margin-top: 0.5rem;

  &:first-child {
    margin-top: 0;
  }

  &__error {
    color: #ff7070;
    font-size: 12px;
    padding: 3px;
  }

  label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
}

.input {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 6px 9px;

  .form-group.form-group--error & {
    border-color: #ff7070;
  }
}

.input-group {
  .input.input--has-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }

  &__right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.margin-left-1 {
  margin-left: $base-space * 2 !important;
}

.panel {
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 0.5rem;

  &:focus {
    border-color: #006994;
  }

  &--centered {
    text-align: center;
  }

  &--danger {
    background-image: linear-gradient(to right, #ff7070, #ffffff);
  }

  &--warning {
    color: #000000;
    background-color: #ffcc00;
  }

  a {
    color: #000000;
    text-decoration: none;
  }

  ul & {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container {
  $gutter-width: 12px;
  padding: 0 $gutter-width;

  @media screen and (min-width: 800px + $gutter-width * 2) {
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
  }
}

.header {
  background-color: #069;
  color: #ffffff;
  padding: 1rem;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: #ffffff;
  }
}

.italics {
  font-style: italic;
}

.footer {
  background-color: #00334d;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 1rem;
  text-align: center;
}

.section {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  &--with-items {
    *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &--right-aligned {
    text-align: right;
  }
}

.tag-list {
  display: inline-flex;
  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;
    background-color: #e2e2e2;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;

    select {
      background-color: transparent;
      border: 0;
    }
  }

  &__action-button {
    align-items: center;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    border-radius: 50%;
    height: 24px;
    justify-content: center;
    margin-left: 6px;
    width: 24px;
  }
}

.textarea {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: block;
  padding: 8px;
  width: 100%;
}

.underline {
  text-decoration: underline;
}
