$border-color: #dddddd;
$border-radius: 4px;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-size: 1rem;
  margin: 0 0 0.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 4px 12px;
  text-align: center;

  &:disabled {
    background-color: #b6aea7;
    color: #000000;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover:not(:disabled) {
    background-color: #f5f5f5;
    font-weight: 400;
  }

  &--primary {
    background-color: #006994; //sea-blue
    color: #ffffff;

    &:hover:not(:disabled) {
      //two shades darker https://www.colorhexa.com/006994
      background-color: #004d6d;
    }
  }
}

.button-group {
  .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  .button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
}

.input {
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

.input-group {
  .input.input--has-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }

  &__right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.panel {
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 0.5rem;

  &--centered {
    text-align: center;
  }

  &--danger {
    background-image: linear-gradient(to right, #ff7070, #ffffff);
  }
}
