/* Spacing */
$base-space: 8px;
$space-unit-1: $base-space / 2; // 4px
$space-unit-2: $base-space;
$space-unit-3: $base-space * 2; // 16px
$space-unit-4: $base-space * 3; // 24px

$border-color: #dddddd;
$border-radius: 4px;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
$color-danger: #993300;
$dark: #000a10;
$primary: #006699; // sea blue
$text-on-primary: #ffffff;
